<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GanttChartApp</a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/data-input" routerLinkActive="active">
          Data Input
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gantt-chart" routerLinkActive="active">
          View Chart
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- The router's dynamic content -->
<router-outlet></router-outlet>

